<div id="<%= dom_id game %>">
  <p>
    <strong>Title:</strong>
    <%= game.title %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= game.genre %>
  </p>

  <p>
    <strong>Year released:</strong>
    <%= game.year_released %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= game.publisher %>
  </p>

</div>
